div {
  border: 1px solid black;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
}
#calc {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 400px;
}
#numbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 7px;
  gap: 5px;
}
#screen {
  text-align: right;
  height: 40px;
}

#operatorbox {
  display: flex;
  padding: 7px;
  gap: 5px;
}
.num {
  height: 70px;
  width: 70px;
  border-radius: 10px;
  text-align: center;
}

.calcs {
  text-align: center;
  height: 70px;
  width: 70px;
  border-radius: 10px;
}
