div {
  gap: 4px;
  border: 2px solid black;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
}
#calc {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 400px;
  border-radius: 10px;
  padding: 5px;
  background-color: coral;
}
#numbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border: none;
}
#screen {
  text-align: right;
  height: 40px;
  border-radius: 10px;
  padding: 5px;
  background-color: bisque;
}

#operatorbox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border: none;
}
.num {
  height: 70px;
  width: 70px;
  border-radius: 10px;
  text-align: center;
  background-color: bisque;
}

.calcs {
  text-align: center;
  height: 70px;
  width: 70px;
  border-radius: 10px;
  background-color: bisque;
}

.num:hover,
.calcs:hover {
  background-color: chocolate;
  color: aquamarine;
  cursor: pointer;
}
